<h1><%= title %></h1>
<form action="student/addStudent" method="POST">
    Student: <input type="text" name="name" " /><br><br>
    Grade: <input type="text" name="grade" " /><br><br>
    <input type="submit" value="Submit"/><br><br><hr>
</form>