<h1>Students in ITTWEB</h1>
<% students.forEach(student => { %>
    <strong><%= student.studentNo%>
    </strong>
    <span><%= student.firstName%>
    <%= student.lastName%></span>
    <br/>
<% }); %>