<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles.css">
    <meta charset="utf-8">
    <title>The birth of a Web Developer</title>
</head>

<body>
    <h1>Nickolai Lundby</h1>

    <div class="job-title">Web Developer</div>

    <p>Learning Web Development at the Web Development course
        during the ICT studies, has honed my skills!
    </p>

    <p>My skills does not yet cover all aspects of Web Development</p>

    <h2>Contact information</h2>
    <ul>
        <li>Email: <a href="mailto:nickolai@example.com">nickolai@example.com</a></il>
        <li>Web: <a href="http://example.com">http://example.com</a></il>
        <li>Tel: 123 456 789</li>
    </ul>
</body>
</html>